@model TurismoApp.Models.PontoTuristico

<div class="row g-2 mb-3">
    <div class="col-auto" style="min-width:110px;">
        <label asp-for="Estado" class="form-label d-block"></label>
        <select asp-for="Estado" id="Estado" class="form-select">
            <option value="">--Selecione Estado--</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

    <div class="col">
        <label asp-for="Cidade" class="form-label d-block"></label>
        <select asp-for="Cidade" id="Cidade" class="form-select select2" data-placeholder="--Selecione a cidade--">
            <option value="">--Selecione o estado--</option>
        </select>
        <span asp-validation-for="Cidade" class="text-danger"></span>
    </div>
</div>


